@{
    ViewData["Title"] = "Ajax Samples";
}

<h1>Ajax Sample</h1>
<p>Bring up console window</p>

<button type="button" onclick="get();">
    Get Weather Forecast
</button>

@section Scripts{
<script>
    'use strict';
    const URL = "http://localhost:50600/api/WeatherForecast";

    function get() {
        let req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                displayResponse(this);
            }
        };
        req.open("GET", URL);
        req.send();
    }

    function displayResponse(resp){
        console.log(resp);
        console.log("");
        console.log("responseText: " + resp.responseText);
        console.log("status: " + resp.status.toString());
        console.log("statusText: " + resp.statusText);
    }
</script>
}